services:
  conoha_api:
    platform: linux/x86_64
    image: ghcr.io/webdimension/ansible:latest
    container_name: conoha_api
    volumes:
      - ./src:/src
      - ./${ANSIBLE_DIR_PATH}/src/hosts:/hosts
    working_dir: /src
